<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @user.comments %>
</p>

<p>
  <strong>Upvote:</strong>
  <%= @user.upvote %>
</p>

<p>
  <strong>Discussion:</strong>
  <%= @user.discussion %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
